<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<title>FeHelper弹出页面</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/fe-popup.css">
	<script src="../static/js/core/jquery-1.5.min.js"></script>
	<script src="../static/js/mod/mod_popup.js"></script>
</head>
<body>
	<div class="fe-function-title" style="text-align: center;">FE前端助手</div>
	<ul class="fe-function-list">
		<li class="-x-endecode" data-msgtype="EN_DECODE" data-usefile="1"><b></b><span>字符串编解码</span>
		<li class="-x-base64" data-msgtype="IMAGE_BASE64" data-usefile="1"><b></b><span>图片Base64</span>
		<li class="-x-codebeautify" data-msgtype="CODE_BEAUTIFY" data-usefile="1"><b></b><span>代码美化工具</span>
		<li class="-x-jsonformat" data-msgtype="JSON_FORMAT" data-usefile="1"><b></b><span>Json串格式化</span>
		<li class="-x-regexp" data-msgtype="REGEXP_TOOL" data-usefile="1"><b></b><span>Js正则表达式</span>
		<li class="-x-timestamp" data-msgtype="TIME_STAMP" data-usefile="1"><b></b><span>时间(戳)转换</span>
	</ul>
</body>
</html>